.header {
  position: relative;
  padding: 1rem 0;
  justify-content: flex-end;
  display: grid;
  grid-template-columns: 3fr 48px 40px 40px;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.header__logo {
  margin-right: auto;
}

.header__tags {
  display: none !important;
}

.header__tagsSwitcher {
  outline: none;
}

.header__tagsSwitcher svg {
  width: 30px;
  height: 22px;
}

@media (min-width: 640px) {
  .header {
    grid-template-columns: 60px 2fr 30px 30px;
    margin: 0 auto;
  }
  .header__tags {
    display: flex !important;
  }
  .header__tagsSwitcher {
    display: none;
  }
}
